html, body
{
  max-width: 100%;
  overflow-x: hidden;
  background-color: #fff;
}

.container
{
    width: 100%;
	height: 70vh;
	margin-bottom: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro
{
    width: 400px;
    height: 200px;
    align-content: center;
}

.container2
{
	width: 100%;
    display: flex;
    align-items: center;
	justify-content: center;
	/*background-color: blue;*/
}

.linksContainer1
{
    width: 60px;
	height: 70px;
    align-items: center;
    justify-content: center;
}

.linksContainer2
{
	width: 60px;
	height: 70px;
    align-items: center;
    justify-content: center;
}

.linksContainer3
{
	width: 60px;
	height: 70px;
    align-items: center;
    justify-content: center;
}

.linksContainer4
{
	width: 60px;
	height: 70px;
    align-items: center;
    justify-content: center;
}

.highlight:hover
{
    color: #000;
}

/*h1{
    font-family: Arial, helvetica, sans-serif;
    color: #737373;
    color: #000;
    font-style: italic;
    letter-spacing: 1.5px;
}*/

#colorchange {
	color: black;
	font-family: Arial, helvetica, sans-serif;
	font-style: italic;
	letter-spacing: 1.5px;
}  

p.block
{
    font-weight: lightest;
    font-family: Arial, helvetica, sans-serif;
    color: #636363;
    letter-spacing: 0.6px;
    line-height: 23px;
}

a { 
    color: inherit; 
    text-decoration: none;
}

a.link:hover
{
	color: #000;
}

/*LINE*/

hr
{
  margin-top: 17px;
  margin-bottom: 17px;
  height: 1px;
  border-width: 0px;
  width: 100%;
  position: relative;
  background-color: black;
}

/* LINKS */

#crossFade
{
  position: relative;
  margin: 0 auto;
}

#crossFade img
{
  position: absolute;
  left:0;
}

#crossFade img.top:hover {
	opacity:0;
}

#crossFade a.bottom:link {
	opacity:0;
}

#crossFade a.bottom:hover {
	opacity:100;
}