html,
body {
	margin: 0;
    padding: 0;
    max-height: 70%;
}
@media only screen and (max-width: 400px) {
	body {
        margin: 2em auto;
        padding-left: 10%;
        padding-right: 10%;
        padding-bottom: 10%;
        color: rgb(55, 53, 47);
        line-height: 1;
    }
    
    .container
    {
        width: 100%;
        margin-top: 13%;
        margin-bottom: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .intro
    {
        width: 100%;
        height: 100%;
        align-content: center;
    }

    .container2
    {
        width: 100%;
        margin-top: 10vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

h1
{
    text-align: center;
}

#songPlaying 
{
    display: none;
}

#mySong
{
    font-style: italic;
}

.container
{
    width: 100%;
    margin-top: 13%;
	/* height: 100%; */
	margin-bottom: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

hr.new {
    background: transparent;
	display: block;
	width: 100%;
	height: 1px;
	visibility: visible;
	border: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.623);
}

.intro
{
    width: 440px;
    height: 200px;
    align-content: center;
}

.container2
{
    width: 100%;
    margin-top: 11%;
    display: flex;
    align-items: center;
	justify-content: center;
}

.linksContainer1
{
    width: 60px;
	height: 70px;
    align-items: center;
    justify-content: center;
}

.linksContainer2
{
	width: 60px;
	height: 70px;
    align-items: center;
    justify-content: center;
}

.linksContainer3
{
	width: 60px;
	height: 70px;
    align-items: center;
    justify-content: center;
}

.linksContainer4
{
	width: 60px;
	height: 70px;
    align-items: center;
    justify-content: center;
}

.highlight:hover
{
    color: #000;
}

#colorchange {
	color: black;
	font-family: Arial, helvetica, sans-serif;
	letter-spacing: 1.5px;
}  

p.block
{
    font-weight: lightest;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding-top: 1.6px;
    padding-bottom: 1.6px;
    letter-spacing: 0.6px;
    line-height: 23px;
    color:rgb(55, 53, 47);
}

p.music {
    font-weight: lightest;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";    margin-top: 0.5em;
    color:rgb(55, 53, 47);
    letter-spacing: 0.6px;
    width: 100%;
	margin-bottom: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

a { 
    color: inherit; 
    text-decoration: none;
}

a.link:hover
{
    color: #000;
    text-decoration: underline;
}

/*LINE*/

hr
{
  margin-top: 17px;
  margin-bottom: 17px;
  height: 1px;
  border-width: 0px;
  width: 100%;
  position: relative;
  background-color: black;
}

/* LINKS */

#crossFade
{
  position: relative;
  margin: 0 auto;
}

#crossFade img
{
  position: absolute;
  left:0;
}

#crossFade img.top:hover {
	opacity:0;
}

#crossFade a.bottom:link {
	opacity:0;
}

#crossFade a.bottom:hover {
	opacity:100;
}