html,
body {
	margin: 0;
    padding: 0;
    max-height: 70%;
    background-color: #282c34;
    /* background-color: white; */
}

@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
     } 
}

h1
{
    text-align: left;
}

h2
{
    font-weight: 100;
    font-size: larger;
    letter-spacing: 0.6px;
}

#songPlaying 
{
    display: none;
}

#mySong
{
    font-style: italic;
}

.music
{
    height: 15px;
    width: 15px;
}

.container
{
    width: 100%;
    margin-top: 5%;
	/* height: 100%; */
	margin-bottom: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fadeInAnimation ease 1s;
}

hr.new {
    background: transparent;
	display: block;
	width: 100%;
	height: 1px;
	visibility: visible;
	border: none;
	border-bottom: 1px solid rgba(247, 247, 247, 0.906);
}

.intro
{
    width: 575px;
    /* align-content: center; */
}

.container2
{
    width: 140px;
    display: flex;
    float: right;
}


.linksContainer1, .linksContainer2, .linksContainer3, .linksContainer4
{
    width: 35px;
    /* height: 10px; */
    /* align-items: center; */
    /* justify-content: center; */
    /* float: left; */
}

.highlight:hover
{
    color: #000;
}

#colorchange {
	color: black;
    font-family: Inter, sans-serif;
    /* font-weight: 100; */
    letter-spacing: 50%;
}  

p.block, ul, p.music
{
    color: #ebebeb;
    font-family: Inter, sans-serif;
    font-size: 70;
    line-height: 160%;
    transform:scale(1,0.94);
}

a.nounderline {
    color: #ebebeb;
    border-bottom-style: none;
}

a { 
    color: inherit; 
    text-decoration: none;
    /* border-bottom: 1px solid #D1D0D1; */
    color: #aaaaf3;
}

a.link:hover
{
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
    color: #ebebeb;
}

/*LINE*/

/* hr
{
  margin-top: 17px;
  margin-bottom: 17px;
  height: 1px;
  border-width: 0px;
  width: 100%;
  position: relative;
  background-color: #fff;
} */

/* LINKS */

#crossFade
{
  position: relative;
  margin: 0 auto;
}

#crossFade img
{
  position: absolute;
  left:0;
}

#crossFade img.top:hover {
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
	opacity:0;
}

#crossFade a.bottom:link {
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
	opacity:0;
}

#crossFade a.bottom:hover {
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
	opacity:100;
}